.signup {
    color: whitesmoke;
    font-size:0.8em;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    #fire {
      animation: move-fire infinite 5s linear;
    }
  }
  
  #navbarText {
      font-size: 25px;
  }  
  
  @keyframes move-fire {
    0% {
      transform: rotate(0deg);
      color: rgb(5, 131, 156);
    }
    25% {
      transform: rotate(10deg);    
      color:rgba(39, 97, 190, 0.83);
  
    }
    75% {
      transform: rotate(-5deg);
      color:rgba(39, 97, 190, 0.83);
    }
    100% {
      transform: rotate(0deg);
      color: rgba(39, 97, 190, 0.83);
    }
  }
  