/*/////////////////////////MAIN WEB PAGE*/
.Main {
  position: relative;
  display: flex;
  flex-direction:column;  
  height:100%;
  width:100%;
}
.Main > div {

}
body > div {
  background-image:url('./Images/HD.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y:hidden;
  width:100%;
  height:100%;
}
.NavBar {
  position:relative;
  position:sticky;
  top:0;
}
.Footer {
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  text-align: center;
  background-color: #343a40;
}
/*////////////////////////////MAIN PAGE FORM*/
.MealForm { 
  max-width:600px;
  margin: 30px auto;
  background: #3c465afa;
  padding:40px;
  border-radius:10px;
}
.MealFormEl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 200px;
}
.MealFormEl div  {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
/*///////////////Images on form*/
.MealFormElImages {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.MealFormElImages > div {
  max-width: 100px;
  padding:16px;
}
/*////////////////Input on form*/
.MealFormEl .MealFormGrC {
  width:250px;
  margin-right:15px;
}
.MealForm input[type="number"] {
text-align:left;
height:45px;
}
.MealForm .MealFormEl .MealFormGrC .longAppend {
  width:130px;
  }
/*////////////////Labels on Form*/
.MealForm .MealFormEl .MealFormGrC .calcBtn{
/*Make calc button not show outline when clicked*/
outline:0;
}
label {
  color: #aaa;
  margin: 13px 0 0px;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.MealFormEl .MealFormGrL label {
  position:relative;
  text-align: right;
  padding: 0 10px 0;
  width:150px;
}
.MealFormElImages .dietTypeFG label{
  font-size:0.7em;
  display:flex;
  justify-content: center;
}