/*/////////////////////////MAIN WEB PAGE*/
.App > div{
  background-image:url('./Images/background-food.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position:scroll;
  max-height:100rem + 100px;
  min-height:100%;
  width:100%;
}
.NavBar {
  position:relative;
  position:sticky;
  top:0;
}
.Footer {
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  text-align: center;
  background-color: #343a40;
}
/*////////////////////////////MAIN PAGE FORM*/
.MealForm { 
  max-width:800px;
  margin: 30px auto;
  background:#343a40b7;
  padding:40px;
  border-radius:10px;
}
.MealFormInput, .MealFormSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 200px;
}
.MealFormInput div  {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
/*///////////////Images on form*/
.MainFormImages {
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.MainFormImages > div {
  max-width: 200px;
  padding:10px;
}
/*////////////////Input on form*/
.MealFormInput .FormInputRight {
  width:250px;
  margin-right:20px;
}
.MealForm input[type="number"] {
text-align:left;
height:45px;
font-size:20px;
}
.MealForm .MealFormInput .FormInputRight .longAppend {
  width:130px;
  }
/*////////////////Labels on Form*/
.MealForm .MealFormInput .FormInputRight .calcBtn{
/*Make calc button not show outline when clicked*/
outline:0;
}
label {
  color: rgb(255, 255, 255);
  margin: 13px 0 0px;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.MealFormInput .FormLabelLeft label {
  position:relative;
  text-align: right;
  padding-right:15px;
  width:150px;
}
.MainFormImages .dietType label{
  font-size:0.7em;
  display:flex;
  justify-content: center;
}